---
---
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Process Code — from the Foundation for Public Code</title>
  <meta charset='UTF-8'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link href='//fonts.googleapis.com/css?family=Merriweather:400,300,700|Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
  <link rel="icon" href="https://brand.publiccode.net/logo/mark-128w128h.png">
  <link href='{{site.baseurl}}/assets/css/styles.css' rel='stylesheet' />
</head>

<body>

<div id="navigation_bar">
   <div class="outer_container">
    <div class="inner_container">

      <a href="#introduction"><h3>Process Code</h3></a>
      <ul class="nav">
        {% for phase in site.phases %}
          <li class="phase_square"><a href="#phase{{ phase.phase_number }}" title="View Phase {{ phase.phase_number }}: {{ phase.title }}">{{ phase.phase_number }}</a></li>
        {% endfor %}
      </ul>
      <div id="menu_icon">
        <a href="#phases_index_anchor" title="Return to Index"></a>
      </div>
    </div>
  </div>
</div>

<div id="introduction">
  <div class="outer_container">
    <div class="inner_container">
      <a id="logo" href="https://publiccode.net" target="_blank" title="Link to the Foundation for Public Code"><img src='https://brand.publiccode.net/logo/mark.svg' alt="Logo of the Foundation for Public Code" width="150px"></a>
      {% capture introduction %}{% include introduction.md %}{% endcapture %}
      {{ introduction | markdownify }}
      <div class="button">
        <a href="#phases_index_anchor" title="View the Plays">See the phases</a>
      </div>
      <div class="button">
        <a href="https://github.com/whitehouse/phasebook#readme" title="Visit Github to Improve This Content">Help improve this content</a>
      </div>
    </div>
  </div>
</div>

<div id="phases_index">
  <div class="outer_container">
    <div class="inner_container">
      <a class="anchor_offset" id="phases_index_anchor"></a>
      <h2>Process Code</h2>
      <div class="columns">
        <ol>
        {% for phase in site.phases %}
          <li><a href="#phase{{ phase.phase_number }}" title="View Phase {{ phase.phase_number }}">{{ phase.title }}</a></li>
        {% endfor %}
        </ol>
      </div>
      <div class="button">
        <a href="#phase1" title="View the In Detail">In detail</a>
      </div>
    </div>
  </div>
</div>

<div id="phases" class="outer_container">
  {% for phase in site.phases %}
    <div class="inner_container">
      <a class="anchor_offset" id="phase{{ phase.phase_number }}"></a>
      <h6>PHASE {{ phase.phase_number }}</h6>
      <h2 class="disphase">{{ phase.title }}</h2>

      {{ phase.output }}
    </div>
  {% endfor %}
</div>

<script src='{{site.baseurl}}/assets/js/jquery-1.11.1.min.js'></script>
<script src='{{site.baseurl}}/assets/js/scrollspy.js'></script>
<script src='{{site.baseurl}}/assets/js/site.js'></script>
</body>
</html>
